#user-label{
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.button{
    -fx-border-style: none;
    -fx-effect: none;
}

.green_button{
    -fx-background-color: green;
    -fx-text-fill: white;
}

.red_button{
    -fx-text-fill: white;
    -fx-background-color: red;
}
