#user-label{
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.button{
    -fx-border-style: none;
    -fx-effect: none;
}

#write_button{
    -fx-background-color: green;
    -fx-text-fill: white;
}

#delete_button{
    -fx-text-fill: white;
    -fx-background-color: red;
}
